@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: gradient 8s ease infinite;
  background: linear-gradient(90deg, #7e2907, #a5450e, #d07030, #7e2907) no-repeat;
  background-size: 200% 200%;
  color: white;
  overflow-y: hidden;
}

img {
  filter: invert();
  max-width: 100px;
  transform: scale(200%);
}

.container {
  background-color: #fff;
  padding: 50px;
  background: var(--cores-cinza-dark, #1E1F28);
  box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
  max-width: 500px; 
  width: 20%;
  height: 60%;
  border-radius: 8px;
  box-shadow: 0 0 30px black;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
  font-size: 18px;
}

input[type="number"], select {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#fromCurrency, #toCurrency {
  background-color: #f9f9f9;
}


input[type="number"]:focus, select:focus {
  border-color: #d07030;
  box-shadow: 0 0 5px #d07030;
  outline: none;
}

input[type="number"]:hover, select:hover {
  border-color: #d07030;
  box-shadow: 0 0 5px #d07030;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.6 192h256.8c28.4 0 52.5 22.9 52.5 51.3 0 28.4-24.1 51.3-52.5 51.3H31.6C3.2 294.6-20 271.7-20 243.3c0-28.4 24.1-51.3 52.5-51.3z" fill="%23333"/></svg>') no-repeat right 10px center;
  background-size: 12px;
}

button {
  padding: 10px 20px;
  margin-top: 7%;
  border: none;
  border-radius: 4px;
  background-color: #d83f19;
  opacity: 1;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

#result {
  margin-top: 20px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Keyframe para background */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Responsividade */
@media only screen and (min-width: 769px) and (max-width: 1700px) {
  .container {
    padding: 30px;
    width: 80%;
    height: 80%;
  }

  img {
    width: 100px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  h1 {
    font-size: 24px;
  }

  input[type="number"], select {
    font-size: 14px;
    padding: 16px;
  }

  button {
    padding: 20px 50px;
    font-size: 14px;
  }

  #result {
    font-size: 25px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 30px;
    width: 65%;
    height: 80%;
  }

  img {
    width: 100px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  h1 {
    font-size: 24px;
  }

  input[type="number"], select {
    font-size: 14px;
    padding: 12px;
  }

  button {
    padding: 20px 50px;
    font-size: 18px;
    margin-top: 10%;
  }

  #result {
    font-size: 25px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .container {
    padding: 20px;
    width: 70%;
    height: 80%;
    margin-bottom: 50px;
  }

  img {
    width: 100px;
    margin-bottom: 7%;
    margin-top: 10%;
  }

  h1 {
    font-size: 20px;
  }

  input[type="number"], select {
    font-size: 12px;
    padding: 12px;
  }

  button {
    padding: 20px 50px;
    font-size: 18px;
    margin-top: 10%;
  }

  #result {
    font-size: 25px;
    padding-left: 5px;
  }
}
