@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #e41d69, #ff6767, #fe8277,#ff6767, #e41d69) no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    margin-left: 20px;
    color: white;
    transition: 0.3s ease-in-out;
}

.logo h1:hover {
    opacity: 0.8;
}

.profile-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 2rem;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    filter: invert();
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.profile-icon img:hover {
    opacity: 0.8;
}

.home {
    color: #fff;
    width: 100vw;
    padding-top: 120px; /* Ajuste para garantir que o conteúdo não fique atrás do navbar */
}

.home p {
    font-size: 24px;
    font-weight: 600;
}

main {
    height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, #e41d69, #ff6767, #fe8277,#ff6767, #e41d69) no-repeat;
}

a {
    text-decoration: none;
    color: #fff;
}

.images-home img {
    position: fixed;
    bottom: 0;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -10px;
    max-width: 100%; /* Adicionado para garantir que a imagem se ajuste ao tamanho da tela */
}

/* Media Queries */
@media screen and (min-width: 300px) and (max-width: 480px) {
    .header {
        height: 100px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    .logo h1 {
        font-size: 24px;
        margin-left: 25px;
    }

    .profile-icon{
        gap: 15px;
    }

    .profile-icon img {
        width: 30px;
        height: 30px;
    }

    .home {
        padding-top: 100px; /* Ajuste o padding-top para tablets */
    }

    .home .textos {
        padding-top: 20px;
    }

    .home p {
        font-size: 18px;
    }

    .home .images-home img {
        width: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header {
        height: 100px;
    }
    .home {
        padding-top: 100px; /* Ajuste o padding-top para tablets */
    }

    .home .images-home img {
        width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        padding-top: 110px; /* Ajuste o padding-top para telas pequenas */
    }
}

@media (min-width: 1025px) {
    .home {
        padding-top: 120px; /* Ajuste o padding-top para telas maiores */
    }
}

@media (min-width: 1200px) {
    header {
        height: 100px;
    }

    .logo h1 {
        font-size: 32px;
        margin-left: 20px;
    }
    .profile-icon img {
        width: 35px;
        height: 35px;
    }
    .home p {
        font-size: 20px;
    }
}
