@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fundo {
    background: linear-gradient(90deg, #e41d69, #ff6767, #fe8277,#ff6767, #e41d69) no-repeat;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 110%;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #e41d69, #ff6767, #fe8277,#ff6767, #e41d69) no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
}

.logo h1 {
    margin: 0;
    margin-left: 20px;
    color: white;
    transition: 0.3s ease-in-out;
}

.logo h1:hover {
    opacity: 0.8;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

main {
    position: fixed;
    display: grid;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
}

.profile-info {
    background-color: white;
    align-items: start;
    justify-content: center;
    position: fixed;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-bottom: 30px;
    bottom: 0;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.178);
}

.profile-info h2 {
    margin-top: 0;
}

.profile-info img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -60px;
    width: 40%;
    height: 43%;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.527);
    display: block; /* Remove o espaço em branco abaixo da imagem */
    overflow: hidden;
}

.profile-info p {
    font-size: 15px;
}

.profile-info p:nth-last-child(4) {
    margin-top: 40px;
}


.voltar p {
    margin-right: 20px;
}

.voltar p, a {
    color: #fff;
    text-decoration: none;
}

.voltar p:hover {
    opacity: 0.8;
}

#changePhotoButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #e41d69;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#changePhotoButton:hover {
    background-color: #d81862;
}

@keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
}

/* Media Queries */
@media (max-width: 480px) {
    header {
        height: 80px;
    }
    .logo h1 {
        font-size: 18px;
        margin-left: 10px;
    }

    .profile-icon img {
        width: 30px;
        height: 30px;
    }
    .profile-info {
        width: 10px;
    }
    .profile-info img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    header {
        height: 80px;
    }
    .logo h1 {
        font-size: 20px;
        margin-left: 15px;
    }
    .profile-icon img {
        width: 35px;
        height: 35px;
    }
    .profile-info {
        width: 80%;
        height: auto;
    }
    .profile-info img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1024px) {
    header {
        height: 90px;
    }
    .logo h1 {
        font-size: 22px;
        margin-left: 20px;
    }
    .profile-icon img {
        width: 38px;
        height: 38px;
    }
    .profile-info {
        width: 70%;
        height: auto;
    }
    .profile-info img {
        width: 190px;
        height: 190px;
    }
}

@media (max-width: 1200px) {
    header {
        height: 100px;
    }
    .logo h1 {
        font-size: 24px;
        margin-left: 25px;
    }
    .profile-icon img {
        width: 40px;
        height: 40px;
    }
    .profile-info {
        width: 600px;
        height: auto;
    }
    .profile-info img {
        width: 200px;
        height: 200px;
    }
}
