@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #e41d69, #ff6767, #fe8277,#ff6767, #e41d69) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.option:hover {
  background: #eee;
}

.correct {
  background: #d4edda;
  border-color: #28a745;
}

.incorrect {
  background: #f8d7da;
  border-color: #dc3545;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e41d69;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.next-button:hover {
  background-color: #d11b61;
}

.prev-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e41d69;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.prev-button:hover {
  background-color: #d11b61;
}

.voltar {
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #e41d69;
  border-radius: 5px;
  transition: background 0.3s;
}

.voltar:hover {
  background-color: #d11b61;
}

/* Customização do estilo do SweetAlert2 */

.custom-swal-title {
  font-size: 1.5rem;
}

.custom-swal-content {
  position: fixed;
  font-size: 1rem;
}

.custom-swal-confirm-button {
  background-color: #e41d69; /* Cor do botão */
}

.custom-swal-confirm-button:hover {
  background-color: #d11b61; /* Cor do botão */
}

/* Media Queries */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    width: 80%;
    padding: 15px;
    margin: 10px;
  }

  .question {
    font-size: 22px;
  }

  .option {
    padding: 8px;
  }

  .next-button {
    padding: 8px 15px;
    font-size: 0.9em;
  }

  .voltar {
    padding: 5px;
  }
}


/* iPads, tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 80%;
    padding: 15px;
    margin: 10px;
  }

  .question {
    font-size: 22px;
  }

  .option {
    padding: 8px;
  }

  .next-button {
    padding: 8px 15px;
    font-size: 0.9em;
  }

}

/* Telas pequenas, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 70%;
    padding: 18px;
    margin: 10px;
  }

  .question {
    font-size: 24px;
  }

  .option {
    padding: 9px;
  }

  .next-button {
    padding: 9px 18px;
    font-size: 1em;
  }

  .voltar {
    background-color: none;
  }
}

/* Desktops, telas grandes (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .card {
    width: 60%;
    padding: 20px;
    margin: 10px;
  }

  .question {
    font-size: 26px;
  }

  .option {
    padding: 10px;
  }

  .next-button {
    padding: 10px 20px;
    font-size: 1.1em;
  }

  .voltar {
    background-color: none;
  }
}
